.orders {
  flex-grow: 1;
  flex-basis: 500px;
  background: var(--light);
  border-radius: 20px;
  padding: 24px;
  overflow-x: auto;
}

.orders .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.orders .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.orders .header .bx {
  cursor: pointer;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

.orders table td {
  padding: 16px 0;
}

.orders table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

.orders table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.orders table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.orders table tbody tr:hover {
  background: var(--grey);
}

.orders table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

.orders table tr td .status.completed {
  background: var(--success);
}

.orders table tr td .status.process {
  background: var(--primary);
}

.orders table tr td .status.pending {
  background: var(--warning);
}

@media screen and (max-width: 576px) {
  .orders table {
    min-width: 340px;
  }
}
