.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000090;
}

.message-error {
  font-size: 16px;
  color: rgb(215, 73, 73);
  text-align: center;
}
